.scrollWrapper {
  /* height property is now controlled by an inline style in the component */
  position: relative;
}

/* Base styles are now your mobile-first styles */
.heroSection {
  /* height property is now controlled by an inline style in the component */
  background-color: var(--dark-bg);
  color: var(--primary-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0rem 2rem 6rem 2rem;
  overflow: hidden; /* This prevents horizontal scrollbars */
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  text-align: center;
  position: relative;
  z-index: 5;
}

.headline {
  font-weight: 300;
  line-height: 1;
  font-size: var(--font-size-4xl);
}

.descriptionBox {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
}

.descriptionBox p {
  margin: 2rem 1rem 1rem;
  font-weight: 100;
  font-size: var(--font-size-xs);
}

.scrollIndicator {
  position: absolute;
  bottom: 20vh; /* Positioned relative to the viewport height */
  right: 0.5rem;
  color: var(--secondary-text);
  font-size: var(--font-size-xs);
  z-index: 5;
  font-weight: 300;
}

.bottomBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  color: var(--secondary-text);
  font-size: var(--font-size-xs);
  font-weight: 300;
  z-index: 5;
}

.bottomBar .tagline {
  color: var(--primary-text);
  text-align: right; /* Ensures wrapped text aligns to the right */
  font-weight: 300;
}

.cardsContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

.card {
  position: absolute;
  width: 45vw;
  height: 55vw;
  max-width: 220px;
  max-height: 270px;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
}

/* ==========================================================================
   Desktop Overrides
   ========================================================================== */
@media (min-width: 768px) {
  .heroSection {
    /* height property is now controlled by an inline style in the component */
    padding: 10rem 4rem 15rem 4rem;
  }

  .scrollIndicator {
    right: 4rem; /* Match desktop padding */
  }

  .headline {
    font-size: var(--font-size-6xl);
  }

  .descriptionBox p {
    margin: 1rem 0 0rem 0;
    font-size: var(--font-size-lg);
  }

  .scrollIndicator {
    bottom: 40vh;
  }

  .bottomBar {
    align-items: center;
    gap: 0;
    bottom: -1rem;
    padding: 1rem 4rem;
  }

  .card {
    width: 25vw;
    height: 30vw;
    max-width: 500px;
    max-height: 600px;
  }
}
