.hero {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 105vh;
  .heroImage {
    position: absolute;
    width: 100%;
    height: 100%;
    scale: 1.05;
    object-fit: cover;
    will-change: transform;
  }
  .heroLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}

.firstShowcase {
  position: relative;
  z-index: 2;
  padding: 5rem 0;
  background-color: #d9d9d9;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    object-fit: cover;
  }
  .skewed {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -40px;
    height: 110px;
    background-color: inherit;
    transform: skewY(2deg);
    border-radius: 20px;
  }
}

.secondShowcase {
  position: relative;
  padding: 10rem 0;
  background-color: #c0c2cb;
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  .imageContainer {
    position: relative;
    overflow: hidden;
    width: 35rem;
    height: 38rem;
    border-radius: 40px;
    img {
      position: absolute;
      object-fit: cover;
      will-change: transform;
      width: 100%;
      object-fit: cover;
    }
  }
}

.last {
  position: relative;
  z-index: 2;
  width: 100vw;
  img {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 100%;
    object-fit: cover;
  }
}
