// src/app/(home)/components/Hero.module.scss

@use "src/styles/variables" as *;
@use "src/styles/typography" as t;

.hero {
  margin-top: 2rem; // Remove negative margin for mobile
  min-height: 90vh; // A bit less than full height on mobile
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem; // Less padding on mobile
  text-align: center;

  @media (min-width: map-get($breakpoints, "md")) {
    margin-top: -1rem;
    min-height: calc(115vh - #{$nav-height});
    padding: $container-padding;
  }
}

.headline {
  @include t.text-style(
    "5xl"
  ); // This now handles both mobile and desktop sizes!

  font-weight: 500;
  line-height: 1.2;
  max-width: 1400px;
  letter-spacing: -0.1rem; // Less aggressive spacing for mobile

  @media (min-width: map-get($breakpoints, "md")) {
    letter-spacing: -3px; // Restore desktop spacing
  }

  .white {
    color: $primary-text;
  }

  .grey {
    color: $secondary-text;
  }

  .highlight {
    color: #000;
    background-color: $accent-color;
    border-radius: 20px; // Slightly smaller radius for smaller text
    padding: 0em 0.2em;
    position: relative;
    @media (min-width: map-get($breakpoints, "md")) {
      border-radius: 40px;
    }
  }

  .white,
  .grey,
  .highlight {
    display: inline-block;
  }
}

.imagePlaceholder {
  display: inline-block;
  position: relative;
  width: 1em;
  height: 0.7em;
  top: -0.02em;
  vertical-align: middle;
  border-radius: 8px; // Smaller radius for mobile

  @media (min-width: map-get($breakpoints, "md")) {
    border-radius: 12px;
  }

  .snippetImage {
    border-radius: inherit; // Inherit the radius from the placeholder
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
