/* src/components/Hero/Hero.module.css */

/* --- Main Layout & Typography --- */
.hero {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: calc(100dvh - var(--nav-height));
  padding: 4rem 0;
  background-color: var(--dark-bg);
  width: 100%;
  overflow: hidden;
}
.headlineContainer {
  width: 100%;
  padding: 0 0.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.headline {
  font-size: var(--font-size-2xl);
  font-weight: 300;
  letter-spacing: -1.5px;
  line-height: 1.2;
  color: var(--primary-text);
  padding-top: 3.5rem;
  padding-right: 1rem;
  text-align: left;
}
.headline > * {
  display: inline-block;
  vertical-align: top;
  margin: 0 0.15em;
  overflow: hidden;
}
.scrambleContainer {
  margin: 0 0.15em;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.scrambleContainer::before {
  content: "development.";
  font-weight: 300;
  visibility: hidden;
  display: inline-block;
}
.scrambleAbsolute {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.desktopOnlyBreak {
  display: none;
}
.imageWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.gridImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.isPreparingForHandoff {
  /* 1. Position the entire row container at the handoff spot. */
  position: fixed;
  bottom: 2rem;
  left: 3rem;

  /* 2. No gap needed when stacked. */
  gap: 0;
}

/* 3. Stack all images on top of each other inside the row. */
.isPreparingForHandoff .imageContainer {
  position: absolute;
  top: 0;
  left: 0;
}

/* --- Media Query for Desktop --- */
@media (min-width: 768px) {
  .hero {
    gap: 5rem;
    padding: 7rem 2rem 0rem;
  }
  .headlineContainer {
    padding: 0;
  }
  .headline {
    font-size: var(--font-size-3xl);
    line-height: 1.2;
    letter-spacing: 1px;
  }
  .desktopOnlyBreak {
    display: block;
    content: "";
    height: 0;
    margin: 0;
  }
  .marqueeTrack {
    gap: 0.5rem;
  }
  .marqueeImageContainer {
    height: 120px;
    border-radius: 16px;
  }
}
