// Import our system files
@use "variables" as *;
@use "typography" as t;

.sectionWrapper {
  // Make padding responsive
  padding: 0rem 2rem;
  @media (min-width: map-get($breakpoints, "md")) {
    padding: 0rem 1rem;
  }
  background-color: $dark-bg;
}

.whiteContainer {
  background-color: $primary-text;
  color: $dark-bg;
  border-radius: 16px;
  // Make padding responsive
  padding: 4rem 0;
  padding-bottom: 1.5rem;
  @media (min-width: map-get($breakpoints, "md")) {
    padding: 3rem 0;
    padding-bottom: 1.5rem;
  }
  overflow: hidden;
}

.sectionTitle {
  font-weight: 500;
  margin-bottom: 1rem;
  color: $dark-bg;
  letter-spacing: -1px;
  // Make padding responsive
  padding: 0 2rem;
  @media (min-width: map-get($breakpoints, "md")) {
    padding: 0 3rem;
  }

  @include t.text-style("3xl");
}

// --- Methodology Slider Styles ---
.methodologyContainer {
  margin-bottom: 0rem;
}

.sliderWrapper {
  // Make padding responsive
  padding-left: 2rem;
  @media (min-width: map-get($breakpoints, "md")) {
    padding-left: 3rem;
  }
}

.slide {
  width: 390px !important;
  height: auto;

  // Use the breakpoint from our system
  @media (max-width: map-get($breakpoints, "md")) {
    width: 260px !important;
  }
}

.card {
  min-height: 400px;
  padding: 1.2rem;
  border-radius: 8px;
  color: $dark-bg;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &--purple {
    background-color: $card-color-purple;
  }
  &--green {
    background-color: $card-color-green;
  }
  &--teal {
    background-color: $card-color-teal;
  }
  &--blue {
    background-color: $card-color-blue;
  }
}

.cardDescription {
  @include t.text-style("lg");
}

.cardStep {
  margin-top: auto;

  padding-top: 1rem;

  opacity: 0.2;
  font-weight: 500;
  @include t.text-style("lg");
}

// --- Partners Grid Styles ---
.partnersContainer {
  padding-top: 4rem;
}

.borderBottom {
  border-bottom: 1px solid rgba($dark-bg, 0.2);
  // Make padding responsive
  padding: 0 2rem;
  padding-bottom: 1rem;
  @media (min-width: map-get($breakpoints, "md")) {
    padding: 0 3rem;
    padding-bottom: 1rem;
  }
}

.partnersGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  gap: 3rem 2rem;
  // Make padding responsive
  padding: 2rem;
  @media (min-width: map-get($breakpoints, "md")) {
    padding: 2rem 3rem;
  }
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partnerLogo {
  opacity: 0.7;
  transition: opacity 0.3s ease;
  filter: invert(1);

  &:hover {
    opacity: 1;
  }
}
