.projects {
  font-family: var(--font-gilroy);
  max-width: 1920px;
  margin: 0 auto;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100rem;

  .emira {
    font-size: 8.7rem;
    margin-top: -2rem;
    position: relative;

    &::after {
      content: url("./vector.svg");
      display: block;
      position: absolute;
      top: 30%;
      right: 25%;
      transform: translateX(-50%);
      width: 20px;
      height: 20px;
    }
  }

  .socials {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    a {
      color: #000;
      text-decoration: none;
      font-size: 1rem;
    }
  }
}
