.about {
  margin-bottom: 9rem;
  font-family: var(--font-gilroy);
  position: relative;

  .skewed_div {
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    width: 100%;
    height: min(50rem, 55vw);
    background-color: #26272b;
    transform: skewY(-4deg);
    z-index: -1;
  }
  .container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 3rem;
    justify-content: space-between;

    .text {
      flex-basis: 50%;
      width: 50%;
      white-space: pre-line;

      .small_about {
        font-family: var(--font-mazius);
        font-weight: 500;
        color: #b18be2;
        font-size: min(2.1rem, 2.4vw);
        margin-left: 1rem;
        span {
          margin-right: 4px;
        }
        .mask {
          position: relative;
          display: inline-flex;
          overflow: hidden;
        }
      }
      .title {
        font-size: min(4.5rem, 5vw);
        font-size: calc(0.83333vw + 64px);
        letter-spacing: -1.8px;
        font-family: var(--font-gilroy);
        font-style: bold;
        font-weight: 600;
        span {
          margin-right: 0.1em;
        }
        .mask {
          position: relative;
          display: inline-flex;
          overflow: hidden;
        }
      }
      .desc {
        font-family: var(--font-gilroy);
        margin-top: 1rem;
        font-size: min(1.4rem, 1.6vw);
        font-size: calc(0.83333vw + 9px);
        line-height: 1.5;
        width: 90%;

        span {
          margin-right: 0.1em;
        }
        .mask {
          position: relative;
          display: inline-flex;
          overflow: hidden;
        }
      }
    }
    .image {
      flex-basis: 50%;
      width: 50%;

      position: relative;
      margin-top: -4rem;
      .rectangle {
        position: absolute;
        z-index: -2;
      }
      .emira {
        width: 100%;
        // object-fit: cover;
        border-radius: 20px;
        margin-top: 4rem;
        margin-right: -1rem;
      }
    }
  }
}
