.about {
  margin-bottom: 4rem;
  font-family: var(--font-gilroy);
  position: relative;

  .skewed_div {
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    width: 100%;
    height: min(50rem, 55vw);
    background-color: #26272b;
    transform: skewY(-4deg);
    z-index: -1;
  }
  .container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 3rem;
    justify-content: space-between;

    .text {
      .small_about {
        font-family: var(--font-mazius);
        font-weight: 500;
        color: #b18be2;
        font-size: min(2.1rem, 2.4vw);
        margin-left: 1rem;
        span {
          margin-right: 4px;
        }
        .mask {
          position: relative;
          display: inline-flex;
          overflow: hidden;
        }
      }
      .title {
        font-size: min(4.5rem, 5vw);
        letter-spacing: -1.8px;
        font-family: var(--font-gilroy);
        font-style: bold;
        font-weight: 600;
        span {
          margin-right: 4px;
        }
        .mask {
          position: relative;
          display: inline-flex;
          overflow: hidden;
        }
      }
      .desc {
        font-family: var(--font-gilroy);
        margin-top: 1rem;
        font-size: min(1.4rem, 1.6vw);
        line-height: 1.5;
        span {
          margin-right: 4px;
        }
        .mask {
          position: relative;
          display: inline-flex;
          overflow: hidden;
        }
      }
    }
    .image {
      position: relative;
      margin-top: -4rem;
      .rectangle {
        position: absolute;
        z-index: -1;
      }
      .emira {
        transform: scale(1.05);
        margin-top: 4rem;
        margin-right: -1rem;
      }
    }
  }
}
