// src/styles/variables.scss

// Colors
$dark-bg: #141515;
$primary-text: #ffffff;
$secondary-text: #919191;
$accent-color: #b0fa4f;

$services-text: #676767; // Dark background for service items

$footer-bg: #1d1f20;

// NEW: Pill Colors
$pill-color-blue: #acd9e9; // A soft powder blue
$pill-color-purple: #d0c0e9; // A gentle thistle/purple
$pill-color-teal: #7bddb8; // A minty teal
$pill-color-orange: #ff7447; // A soft orange

// NEW: social media Colors
$social-media-bg1: #d9d9d9; // Dark background for social media items
$social-media-bg2: #c0c2cb; // Dark background for social media items

// Layout
$nav-height: 80px;
$container-padding: 0 2.8rem;

// NEW: Methodology Card Colors
$card-color-purple: #d0c0e9; // Purple with alpha for background
$card-text-purple: #b39cd7; // Purple text color
$card-color-green: #b0fa4f; // Accent Green with alpha
$card-text-green: #9bcf56; // Green text color
$card-color-teal: #7bddb8; // Teal with alpha
$card-text-teal: #6ec1a2; // Teal text color
$card-color-blue: #d4e0ef; // Blue with alpha
$card-text-blue: #a9bad0; // Blue text color

// --- NEW: Responsive Typography Architecture ---

// 1. Set the root font size for easy rem calculations.
// 16px (browser default) * 62.5% = 10px. This means 1rem = 10px.
$base-font-size-px: 16px;

// 2. Define Breakpoints as a map for easy access.
$breakpoints: (
  "md": 768px,
  "lg": 1024px,
  "xl": 1440px,
);

// 3. Define the Typographic Scale as a map.
// This is where the magic happens. We define a min and max font size (in rem) for each step in our scale.
// The key is the name (e.g., '3xl'), and the value is a map of min/max sizes.
$type-scale: (
  // Heading Sizes
  "6xl": //200px
  (
      min: 6.2rem,
      max: 13.2rem,
    ),
  "5xl": //96px
  (
      min: 4rem,
      max: 5rem,
    ),
  "4xl": (
    //72px
    min: 2.5rem,
    max: 4.4rem
  ),
  "3xl": (
    //64px
    min: 2.4rem,
    max: 3.6rem
  ),
  "2xl": (
    //48px
    min: 1.9rem,
    max: 2.3rem
  ),
  "xl": //40px
  (
      min: 1.5rem,
      max: 2.3rem,
    ),
  "2lg": (
    //32px
    min: 1.3rem,
    max: 1.5rem
  ),
  "lg": // 24px
  (
      min: 0.85rem,
      max: 1.25rem,
    ),
  // Was: 2.2rem->2.4rem | Approx: 16px -> 18px
  "base":
    (
      min: 1.6rem,
      max: 1.6rem,
    ),
  // Was: 1.6rem->1.6rem | Approx: 16px (No scaling for body text)
  "sm": //20px
  (
      min: 0.8rem,
      max: 0.8rem,
    ),
  // Was: 1.8rem->2.0rem | Approx: 14px (Static small text)
  "xs": //16px
  (
      min: 0.7rem,
      max: 0.7rem,
    ),
  "xxs": //14px
  (
      min: 0.5rem,
      max: 0.5rem,
    )
);

$mobile-type-scale: (
  "6xl": 3rem,
  // ~60px
  "5xl": 2.8rem,
  // ~38px
  "4xl": 1.5rem,
  // ~32px
  "3xl": 1.8rem,
  // ~28px
  "2xl": 2.4rem,
  // ~24px
  "xl": 2rem,

  "2lg": 1.6rem,
  // ~20px
  "lg": 0.8rem,
  // ~18px
  "base": 1.5rem,
  // ~15px (Mobile body text slightly smaller)
  "sm": 1.3rem,
  // ~13px
  "xs": 0.4rem,
  // ~12px
  "xxs": 1.1rem,
  // ~11px
);
