.works {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: var(--font-gilroy);

  img {
    object-fit: cover;
    border-radius: 30px;
  }
  .first {
    margin: 0rem 5rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
    .first_left {
      position: relative;
      img {
        margin-left: 2rem;
        align-self: flex-start;
        width: 37rem;
        height: 37rem;
        object-fit: cover;
      }
      .date {
        position: absolute;
        bottom: 6rem;
        left: 3.7rem;
        background-color: white;
        border-radius: 40px;
        padding: 0.4rem 2rem;
      }
      .name {
        position: absolute;
        bottom: 1.5rem;
        left: 4rem;
        padding: 1rem 2.2rem;
        background-color: white;
        border-radius: 40px;
        font-size: 1.1rem;
      }
    }
    .first_right {
      position: relative;

      align-self: flex-end;
      img {
        width: auto;
        height: 30rem;
      }
      .date {
        position: absolute;
        bottom: 6rem;
        left: 1.7rem;
        background-color: white;
        border-radius: 40px;
        padding: 0.4rem 2rem;
      }
      .name {
        position: absolute;
        bottom: 1.5rem;
        left: 2rem;
        padding: 1rem 2.2rem;
        background-color: white;
        border-radius: 40px;
        font-size: 1.1rem;
      }
    }
  }
  .second {
    align-self: center;
    position: relative;
    img {
      margin-bottom: 5rem;
      width: 37rem;
      height: 37rem;
    }
    .date {
      position: absolute;
      bottom: 12rem;
      left: 2rem;
      background-color: white;
      border-radius: 40px;
      padding: 0.4rem 2rem;
    }
    .name {
      position: absolute;
      bottom: 7rem;
      left: 2rem;
      padding: 1rem 2.2rem;
      background-color: white;
      border-radius: 40px;
      font-size: 1.1rem;
    }
  }
  .third {
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin: 0rem 3rem;
    margin-bottom: 15rem;
    .third_left {
      position: relative;
      align-self: center;
      img {
        margin-bottom: 3rem;
        width: 35rem;
        height: 40rem;
      }
      .date {
        position: absolute;
        bottom: 9rem;
        left: 2rem;
        background-color: white;
        border-radius: 40px;
        padding: 0.4rem 2rem;
      }
      .name {
        position: absolute;
        bottom: 4.5rem;
        left: 2rem;
        padding: 1rem 2.2rem;
        background-color: white;
        border-radius: 40px;
        font-size: 1.1rem;
      }
    }
    .third_right {
      .third_right_top {
        position: relative;
        img {
          margin-bottom: 14rem;
          width: 26rem;
          height: 33rem;
        }
        .date {
          position: absolute;
          bottom: 6rem;
          left: 1.7rem;
          background-color: white;
          border-radius: 40px;
          padding: 0.4rem 2rem;
        }
        .name {
          position: absolute;
          bottom: 1.5rem;
          left: 2rem;
          padding: 1rem 2.2rem;
          background-color: white;
          border-radius: 40px;
          font-size: 1.1rem;
        }
      }
      .third_right_bottom {
        position: relative;
        img {
          width: 21rem;
          height: 27rem;
        }
        .date {
          position: absolute;
          bottom: 6rem;
          left: 1.7rem;
          background-color: white;
          border-radius: 40px;
          padding: 0.4rem 2rem;
        }
        .name {
          position: absolute;
          bottom: 1.5rem;
          left: 2rem;
          padding: 1rem 2.2rem;
          background-color: white;
          border-radius: 40px;
          font-size: 1.1rem;
        }
      }
    }
  }
}
