@use "src/styles/variables" as *;
@use "src/styles/typography" as t;

.hero {
  background-color: #121617; // Matches the dark theme of the page
  padding: 10rem 0rem 8rem;
  text-align: center;
}

.heroHeadline {
  font-size: clamp(2.5rem, 6vw, 4.5rem); // Responsive font size
  color: $primary-text; // A light grey for good contrast
  margin: 0 auto;
  width: 1300px;
  line-height: 1.3;
  font-weight: 300; // A slightly heavier weight for a headline

  .highlight {
    color: $accent-color; // The green accent color from your palette
  }
}

.first {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 2.5rem 0 2.5rem;
  z-index: 2;
  position: relative;
  .image {
    position: relative;
    margin: 0 auto;
    width: 93vw;
    img {
      width: 100%;
    }
  }
  .logo {
    position: absolute;
    top: 50px;
    right: 50px;
  }
  .firstColor {
    background-color: #121617;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 70%;
    height: 40%;
    z-index: -1;
  }
}

.introduction {
  outline: 1px solid #121617;
  background-color: #121617;
  position: relative;
  z-index: 2;
  padding: 0rem 3rem 5rem 3rem;

  .container {
    padding: 50px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5rem;
    column-gap: 2rem;
    .imageLeft {
      align-self: center;
      justify-self: center;
      img {
        width: 35vw;
      }
    }
    .textRight {
      color: #26272b;
      font-size: 1rem;
      font-size: 1.1vw;
      font-family: var(--font-gilroy);
      line-height: 1.9;
    }
    .videoLeft {
      video {
        border-radius: 40px;
        width: 100%;
        height: 100%;
      }
    }
    .contentRight {
      padding: 20px;
      display: flex;
      border-radius: 40px;
      background-color: #0e0e0e;
      position: relative;
      p {
        color: #696d71;
        font-size: 1.1vw;
        font-family: var(--font-gilroy);
        line-height: 30px;
        line-height: 1.9;
        width: 50%;
        margin: auto 0 auto 20px;
        text-align: justify;
      }
      .image {
        position: absolute;
        bottom: 0;
        right: 1.5rem;
        img {
          width: 100%;
          height: 28vw;
        }
      }
    }
  }
}

.designProcess {
  margin-top: -10px;
  padding-top: 20px;
  background-color: #121617;
  padding-bottom: 100px;
  .container {
    margin: 0 100px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    .textLeft {
      font-family: var(--font-gilroy);
      width: 20%;
      align-self: flex-start;
      h2 {
        font-weight: 500;
        font-size: 4em;
        color: #696d71;
      }
      p {
        color: #696d71;
        font-size: 1rem;
        font-weight: 300;
        line-height: 30px;
        text-align: justify;
      }
    }
    .textRight {
      .row {
        display: flex;
        justify-content: space-between;
        color: #696d71;
        font-family: var(--font-gilroy);
        line-height: 30px;
        border-bottom: 1px solid #696d71;
        padding-bottom: 20px;
        margin-bottom: 20px;
        .number {
          font-weight: 300;
          font-size: 1rem;
        }
        .content {
          width: 70%;
          .title {
            width: 50%;
            font-size: 1.25rem;
            font-weight: 600;
            margin-bottom: 10px;
          }
          .text {
            font-size: 1rem;
            font-weight: 300;
          }
        }
      }
      .rowLast {
        border-bottom: 0px;
      }
    }
  }
}

.typography {
  margin-top: -50px;
  background-color: #000000;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  color: #696d71;
  font-family: var(--font-gilroy);
  padding: 100px 50px;
  position: relative;
  .topText {
    display: flex;
    gap: 3rem;
    h2 {
      font-weight: 500;
      font-size: 4em;
      margin-left: 50px;
    }
    p {
      font-size: 1rem;
      font-weight: 300;
      text-align: justify;
      width: 70%;
      line-height: 30px;
      margin-top: 150px;
    }
  }
  .colors {
    display: flex;
    justify-content: center;

    .color {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 1rem;
      font-weight: 300;

      div {
        width: 13.77vw; /* 13rem equivalent */
        height: 26.65vw; /* 26.25rem equivalent */

        margin-bottom: 1.5rem;
        border-radius: 27px;
      }

      &:nth-child(1) div {
        background-color: #101010;
      }
      &:nth-child(2) {
        margin-top: 40px;
        div {
          background-color: #171717;
        }
      }
      &:nth-child(3) {
        margin-top: 80px;
        div {
          background-color: #656565;
        }
      }
      &:nth-child(4) {
        margin-top: 120px;
        div {
          background-color: #ffffff;
        }
      }
      &:nth-child(5) {
        margin-top: 160px;
        div {
          background-color: #50e8be;
        }
      }
      &:nth-child(6) {
        margin-top: 200px;
        div {
          background-color: #00adf6;
        }
      }
    }
  }
  .fontSection {
    display: flex;
    margin-left: 10rem;
    .leftSection {
      .font {
        width: 80%;
        margin: 0 auto;
        .headline {
          font-size: 1.25rem;
          margin-bottom: 0.5rem;
        }
        .title {
          font-size: 4rem;
          margin-bottom: 1rem;
        }
        .text {
          font-size: 1rem;
          line-height: 30px;
          font-weight: 300;
          text-align: justify;
        }
      }
      .weights {
        display: flex;
        gap: 2rem;
        margin-top: 3rem;
        .semibold {
          background-color: #101010;
          display: flex;
          flex-direction: column;
          rotate: 10deg;
          border-radius: 32px;
          padding: 1rem 2rem;
          p {
            font-size: 1rem;
            font-weight: 300;
            align-self: flex-end;
          }
          h3 {
            font-size: 3rem;
            color: #50e8be;
          }
        }
        .regular {
          display: flex;
          flex-direction: column;
          rotate: -2deg;
          border-radius: 32px;
          background-color: #101010;
          padding: 1rem 2rem;

          p {
            font-size: 1rem;
            font-weight: 300;
            align-self: flex-end;
          }
          h3 {
            font-size: 3rem;
          }
        }
      }
    }
    .rightText {
      font-size: 1rem;
      line-height: 30px;
      font-weight: 300;
      text-align: justify;
      margin-top: 12rem;
      margin-right: 5rem;
      margin-left: 10rem;
    }
  }
  .pink {
    position: absolute;
    top: 5rem;
    right: 30rem;
  }
  .blue {
    position: absolute;
    top: 18rem;
    left: 2rem;
  }
  .yellow {
    position: absolute;
    bottom: 33rem;
    left: 25rem;
  }
}

.userFlow {
  padding: 70px 0;
  background-color: #121617;
  padding-bottom: 200px;
  .container {
    margin: 0 100px;
    width: 90%;
  }

  .text {
    font-family: var(--font-gilroy);
    font-weight: 500;
    font-size: 4em;
    color: #696d71;
    margin-bottom: 2em;
  }
  .flow {
    img {
      margin: 0 auto;
      scale: 1.3;
    }
  }
}

.digitalEvents {
  background-color: black;
  .image {
    img {
      width: 100%;
    }
  }
}

.homePage {
  background-color: black;
  padding-top: 15rem;
  padding-bottom: 10rem;
  display: flex;
  justify-content: center;
  position: relative;
  .color {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #121617;
    height: 20%;
  }
  .mainImage {
    position: relative;
    // z-index: 1;
  }
  .mobile1 {
    position: absolute;
    top: 16%;
    right: -13rem;
  }
  .mobile2 {
    position: absolute;
    top: 45%;
    left: -13rem;
  }
  .mobile3 {
    position: absolute;
    top: 74%;
    right: -13rem;
  }

  .green {
    position: absolute;
    top: 4rem;
    left: 8rem;
  }
  .blue {
    position: absolute;
    top: 32%;
    right: 0;
  }
  .red {
    position: absolute;
    bottom: 30%;
    left: 0;
  }
  .yellow {
    position: absolute;
    bottom: -1%;
    right: 15rem;
  }
}

.services {
  background-color: #121617;
  font-family: var(--font-gilroy);
  padding-top: 12rem;
  text-align: center;
  padding-bottom: 10rem;

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 150px;
    h2 {
      color: #525252;
      line-height: 80px;
      margin-bottom: 5rem;
      span {
        color: #272727;
      }
    }
    p {
      width: 25%;
      font-size: 1rem;
      font-weight: 300;
      line-height: 26px;
      text-align: justify;
      color: #696d71;
    }
  }
  .typesOfServices {
    display: flex;
    justify-content: space-between;
    color: #696d71;
    font-weight: 300;
    font-size: 1rem;
    margin: 0 10rem;
    p {
      margin-bottom: 1rem;
    }
    div {
      position: relative;
      z-index: 1;
      &:nth-child(1) {
        margin-top: 50px;
      }
      &:nth-child(3) {
        margin-top: -50px;
      }
    }
    .ellipse1 {
      position: absolute;
      bottom: -5rem;
      left: -8rem;
      z-index: -1;
    }
    .ellipse2 {
      position: absolute;
      bottom: -2rem;
      left: -8rem;
      z-index: -1;
    }
    .ellipse3 {
      position: absolute;
      bottom: 5rem;
      left: -8rem;
      z-index: -1;
    }
  }
}

.interactive {
  background-color: black;
  font-family: var(--font-gilroy);
  padding-top: 10rem;
  padding-bottom: 15rem;

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 150px;
    color: #525252;
    line-height: 50px;
    margin-bottom: 8rem;
    span {
      color: #272727;
    }
  }
  .vids {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15rem;
  }
}

.last {
  z-index: 2;
  position: relative;
  div {
    img {
      width: 100%;
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
    }
  }
}
