/* src/components/SocialMediaPost/SocialMediaPost.module.css */

.postContainer {
  background-color: var(--primary-text);
  color: var(--dark-bg);
  border: 1px solid #dbdbdb;
  border-radius: 16px;
  width: 100%; /* Keep this */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.postHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.8rem;
  border-bottom: 1px solid #efefef;
}

.profileInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profileIcon {
  border-radius: 50%;
  object-fit: cover;
}

.profileName {
  font-weight: 300;
  font-size: var(--font-size-xs);
}

.moreOptions {
  color: var(--dark-bg);
}

.imageWrapper img {
  object-fit: cover;
  display: block;
}

.postFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.8rem;
}

.actionsLeft {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.actionsLeft svg,
.actionsRight svg {
  cursor: pointer;
}

.actionsLeft svg:hover,
.actionsRight svg:hover {
  opacity: 0.7;
}
